@import url("https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap");
@import "~material-design-icons/iconfont/material-icons.css";

@tailwind base;
@tailwind components;
html {
  font-family: "Raleway", sans-serif;
}
.modal-open {
  transform: scale(1) !important;
  opacity: 1 !important;
}
.text-search-breeds::after {
  content: "";
  position: absolute;
  width: 40px;
  left: 0;
  right: 0;
  bottom: -5px;
  border: 2px solid #4d270c;
  border-radius: 9999px;
}

/* TRANSITIONS */

.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@tailwind utilities;
